pypdf
langchain
torch
accelerate
bitsandbytes
transformers
sentence_transformers
faiss_cpu
ollama 
sentencepiece
langchain_community
flask
flask_cors
flask_socketio
logging
eventlet
gunicorn